.input {
  position: relative;
  width: 90%;
  max-width: 500px;
  margin: 2vh auto;
}
.input .inputModel {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 8px 10px;
  font-size: 1.4rem;
  border-radius: 5px;
  outline: none;
  border: 2px solid rgb(197, 197, 197);
  transition: 0.3s;
  &:focus {
    border: 2px solid rgb(74, 109, 173);
  }
}
.input .closeIcon {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 1.2rem;
  transform: translate(-100%, -50%);
  color: rgb(197, 197, 197);
  outline: none;
  &:hover {
    cursor: pointer;
    color: rgb(116, 116, 116);
  }
}
.input .searchbox {
  position: absolute;
  overflow-y: scroll;
  top: 46px;
  left: 50%;
  width: 100%;
  height: 400px;
  transform: translate(-50%, 0%);
  background: $light_background;
  box-shadow: 0 2px 2px gainsboro;
  border-radius: 0 0 5px 5px;
  ul {
    padding: 0;
  }
  ul li {
    padding: 10px;
    list-style: none;
    font-size: 1rem;
    letter-spacing: 1.2px;
    &:hover {
      background: $dark_background;
    }
  }
}
